<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBtjGwj4lIg65UTrJ-nst6heuWdG85tFS0</string>
	<key>GCM_SENDER_ID</key>
	<string>812563847912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.tsunagari</string>
	<key>PROJECT_ID</key>
	<string>tsunagari-xg8uvv</string>
	<key>STORAGE_BUCKET</key>
	<string>tsunagari-xg8uvv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812563847912:ios:b5789fd842b64a2076475d</string>
</dict>
</plist>